@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppin",sans-serif;
    /* "apercu",sans-serif */
    
}
.mother{
    display: flex;
    /* background: #92b1ef82; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://cdn.dribbble.com/users/2003490/screenshots/4931076/the-house-on-the-hill.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.banner{
    width: 200px;
    height: 40px;
    padding: 10px;
}
.banner img{
    width: 100%;
    height: 100%;
}
#orderForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}
.occupation,input{
    border-radius: 10px;
    width: 500px;
    margin: 5px;
    padding: 5px;
    border: none;
}
.FullAd{
    height: 65px;
}
.Lc{
    color: black;
    font-weight: bold;
    margin: 5px;
}
.do{
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin: 8px;
}
.btn2{
	width: 90px;
    height: 40px;
    color: black;
    background: rgb(255 145 0);
    border: none;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
#terms{
    background-color: transparent;
    outline: none;
    border: none;
    color: #ff2659;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
#terms:hover{
    color: #9e0025;
}
@media (max-width: 580px) {
    .occupation,input{
        width: 260px;
    }
    #orderForm{
        align-items: center;
        justify-content: center;
        position: relative;
        justify-content: center;
    }
    .mother{
        background-image: url('https://media1.giphy.com/media/TZ2oBnEvY9iMgJWuRS/giphy.gif?cid=6c09b95291790d2a496e5886d1193d54fea6f6e10d03b49c&ep=v1_internal_gifs_gifId&rid=giphy.gif&ct=g');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
}

/*-----------------------------------*\
 * #GOOGLE TRANSLATE
\*-----------------------------------*/

.VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-l4eHX-hSRGPd:link, .VIpgJd-ZVi9od-l4eHX-hSRGPd:visited, .VIpgJd-ZVi9od-l4eHX-hSRGPd:hover, .VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
    display: none;
  }
  .goog-te-gadget .goog-te-combo {
      background: #fdfdfd;
      outline: none;
      border-radius: 20px;
      padding: 10px 0px;
  }
  .VIpgJd-ZVi9od-LgbsSe, .VIpgJd-ZVi9od-ORHb-bN97Pc, .VIpgJd-ZVi9od-LgbsSe button{
    display: none;
  }
  .VIpgJd-ZVi9od-ORHb img{
    display: none;
  }
